@import '~normalize.css';

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 1rem;
  color: #3e3832;
  background-color: #f1f1f1;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: calc(2rem + 4px);
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: calc(1.25rem + 4px);
  margin: 0;
}

p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  padding-left: calc(24px + var(--left));
}

ul:last-child {
  margin: 1rem 0 0 0;
}

ul > li {
  word-break: break-word;
  position: relative;
  cursor: pointer;
}

ul > li::before {
  position: absolute;
  right: calc(100% + var(--left));
}

.menu > ul {
  --left: 4px;
  color: #0067c5;
}

.menu > ul > li::before {
  content: url(./right-arrow.svg);
}

.sidebar > ul {
  --left: 8px;
}

.sidebar > ul > li::before {
  content: url(./checkbox.svg);
}

.controls {
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  background-color: yellow;
  border: 1px black dashed;
  position: fixed;
  bottom: 0;
  right: 0;
}

input[type='radio'] {
  margin-right: 0.25rem;
}

.page-wrapper {
  margin: 0 auto;
}

.page-wrapper.one {
  max-width: 648px;
}

.page-wrapper.two {
  max-width: 960px;
}

.page-wrapper.three {
  max-width: 1272px;
}

.content-wrapper {
  margin: 2rem 1rem;
  display: grid;
  gap: 2rem;
  align-items: start;
}

.content-wrapper > * {
  min-width: 0;
  background-color: white;
}

.menu,
.sidebar {
  padding: 2rem;
  display: none;
}

.content {
  padding: 1.5rem;
}

@media (min-width: 481px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2rem;
  }

  .content {
    padding: 2.5rem;
  }

  .content-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media (min-width: 649px) {
  .page-wrapper.one .content-wrapper,
  .page-wrapper.two .content-wrapper,
  .page-wrapper.three .content-wrapper {
    grid-template-columns: 2fr 1fr;
  }

  .page-wrapper.two .sidebar,
  .page-wrapper.three .sidebar {
    display: block;
  }
}

@media (min-width: 961px) {
  .page-wrapper.three .content-wrapper {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .page-wrapper.three .menu {
    display: block;
  }
}
